.table{
    display: inline-block;
    width: 150dvb;
    height: 80dvb;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 2em;
    margin-left: 2em;
}

th {
    padding-left: 100px;
    padding-right: 100px;
}