
.profile_module{
    height: 100dvb;
    width: 15em;
    background: rgb(28, 102, 53);
    justify-content: center;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    border: 3px solid black;
    text-align: center;
    display: inline-block;
}

