@if (signIn) {
    <div style="background-color: rgb(252, 252, 255); height: 100%; width: 100%;">

            <div class="profile_module">
                <img src="user.png" width="130px" height="130px" style="margin-top: 3em; margin-bottom: 1em;">
                <h4 class="h4">{{user.username}}</h4>
                <h5 class="text-body-secondary">{{user.role}}</h5>
                
                <h3 class="h3">Modulos</h3>
                @for (item of user.modules; track $index) {
                    <button class="btn btn-outline-info" 
                        style="width: 10em; border: 2px solid black; margin-top: 3em; height: 3em;"
                        (click)="viewModules(item.module)" >
                        <img [src]="item.iconSrc" alt="" width="25px" height="25px">  {{item.module}} > 
                    </button>
                }
            </div>

            <app-user-pages [welcome]="welcome" [module]="module"></app-user-pages>
    </div>

}