@if (welcome) {
    <div style="background-color: rgb(203, 203, 204); height: 100%; width: 100%;">
        @if (status) {
            <div class="profile_module">
                <img src="user.png" width="130px" height="130px" style="margin-top: 3em; margin-bottom: 1em;">
                <h4 class="h4">{{username}}</h4>
                <h5 class="text-body-secondary">{{role}}</h5>
                
                <h3 class="h3">Modulos</h3>
                @for (item of modules; track $index) {
                    <button class="btn btn-outline-info" 
                        style="width: 15em; border: 2px solid black; margin: 3em;"
                        (click)="viewModules(item.module)">
                        <img [src]="item.iconSrc">  {{item.module}} > 
                    </button>
                }
            </div>
        }
        <div style="width: 80% ;display: inline-block;">
            <app-products style="text-align: center;"></app-products>
        </div>
    </div>
}