<div style="width: 85%; display: inline-block; height: 100%; vertical-align: top;">
    @if (welcome) {
                <h1 class="display-1" style="text-align: center;">Welcome</h1>
        } @else {
            @switch (module) {
                @case ("products") {
                    <app-products></app-products>
                }

                @case ("orders") {
                    <app-orders></app-orders>
                }

                @case ("sets") {
                    <app-sets></app-sets>
                }
            }
            
            <app-details></app-details>
        }

</div>
