@if (status) {
    <div class="card" style="width: 25rem; display: inline-block; margin: 5px;">
        <img src="{{product.img}}" class="card-img-top" width="400px" height="300px">
        <div class="card-body">
            <p>{{product.sku}}</p>
            <p>{{product.title}}</p>
            <p>${{product.price}}</p>
            <div class="form-check form-switch" style="margin-bottom: 10px;">
                <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="status">
                <label class="form-check-label">Activo</label>
            </div>
            
            <button class="btn btn-outline-light">
                <img src="refresh.svg" width="30px" height="30px" (click)="update()">
            </button>

            <button style="margin-left: 150px;" (click)="details()" class="btn btn-outline-light"> 
                <img src="details.svg" width="30px" height="30px">
            </button>
            
        </div>

    </div>
}
