/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
// Source - https://stackoverflow.com/questions/60365440/how-to-programmatically-use-bootstrap-icons-in-an-angular-project
// Posted by BBoom
// Retrieved 5/11/2025, License - CC-BY-SA 4.0

@import "bootstrap-icons/font/bootstrap-icons.css";
