
input{
	width: 20em;
	height: 35px;
	background: #e0dede;
    border: 3 solid rgb(93, 158, 212);
	justify-content: center;
	display: flex;
    margin-bottom: 15%;
	border-radius: 5px;
}

button{
	width: 70%;
	height: 40px;
	margin: auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	margin-top: 6em;
	border-radius: 5px;
    border: 1 solid black;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
    background-color: #573b8a49;
}

.main{
    width: 40em;
    height: 40em;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: linear-gradient(#0b0637, #3c3496, #7e7ea8);
    border-radius: 5em;
}